<!DOCTYPE html>
<html>
<head>
  <title>Flush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,700' rel='stylesheet' type='text/css'>

   <script>
        <% if logged_in? %>
            var client = "<%= current_user.username %>";
            localStorage.setItem("client", client);
        <% else %>
            localStorage.removeItem("client");
        <% end %>
   </script>

</head>
<body>

    <%= render partial: "shared/errors" %>

    <%= yield %>

    <!-- <%#= render partial: "shared/footer" %> -->
</body>
</html>
