<!DOCTYPE html>
<html>
<head>
  <title>Flush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <% if current_user %>
        <script>
            window.CURRENT_USER_ID = <%= current_user.id %>
        </script>
    <% end %>

    <%= render partial: "shared/errors" %>
        <%= yield %>
    <!-- <%#= render partial: "shared/footer" %> -->
</body>
</html>
