<!DOCTYPE html>
<html>
<head>
  <title>Flush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,700' rel='stylesheet' type='text/css'>

   <script>
        <% if logged_in? %>
            var client = "<%= current_user.username %>";
            localStorage.setItem("client", client);
        <% else %>
            localStorage.removeItem("client");
        <% end %>
   </script>

</head>
<body>

  <% if current_user.nil? %>
    <%= link_to "Sign in", new_session_url %> or
    <%= link_to "Sign up", new_user_url %>
  <% else %>
    <%= current_user.username %>
    <%= button_to "Logout", session_url, method: :delete %>
  <% end %>

    <%= render partial: "shared/errors" %>

    <%= yield %>

    <!-- <%#= render partial: "shared/footer" %> -->
</body>
</html>
